<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Ajax </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >

            <%= link_to "jQuery 练习一", jquery_1_path %> |
            <%= link_to "jQuery 练习二", jquery_2_path %> |
            <%= link_to "jQuery 练习三", jquery_3_path %> |
            <%= link_to "jQuery 练习四", jquery_4_path %> |
            <%= link_to "jQuery 练习五", jquery_5_path %>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
